.brand-container{
  display: block;
  height:  200px;
  background-color: white;
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transition: all .5s;
}
.brand-click{
  float: left;
  position: relative;
  width: 25vw;
  height: 200px;
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-colr: red;
  transition: all .2s, width 0;
  overflow: visible;
  border-bottom: 2px solid white;
}
.brand-click:hover{
}
/*.brand-click:hover{
  opacity:.8;
}*/
.brand-content-container{
  width: 100vw;
  height: 500px;
  background-color: #005faf;
  position: absolute;
  top: 200px;
  left: 0;
  visibility: hidden;
  color: white;
  opacity: 1;
  transition: all .7s, width 0;
  border-bottom: 2px solid white;
  padding: 50px;
}
.brand-content{
  width: 40vw;
  float: left;
  visibility: inherit;
}
.brand-content-right{
  float: right;
  visibility: inherit;
}
.brand-content p{
  color: white;
  width: 400px;
  display: inline-block;
}
.brand-content  h1{
  color: white;
}
.brand-content-image-right{
  width: 50vw;
  height: 498px;
  position: absolute;
  right: 0;
  top:0;
  background-size: cover;
}
.brand-content-image-left{
  width: 50vw;
  height: 498px;
  position: absolute;
  left: 0;
  top:0;
  background-size: cover;
}
.auntie-annes{
  background-image:url(../images/auntie-annes-logo.png);
  background-color: #005faf;
}
.auntie-annes::before{

}
.mrs-fields{
  background-color: #c32031;
  background-image:url(../images/mrs-fields-logo.png);
}
.tcby{
  background-color: #ff00fe;
  background-image:url(../images/tcby-logo.png);
}
.cinnabon{
  background-color: silver;
  background-image:url(../images/cinnabon-logo.png);
}
.cinnabon h1, .cinnabon p{
  color: #211551;
}
.team-container{
  width: 100vw;
  height: 800px;
  background-color: #c5b9ac;
  padding: 40px 0 120px 0;

}
.team-names{
  width: 200px;
  float: left;
  margin-left: 100px;
  padding-right: 20px
}
.team-names li{
  color: white;
  font-size: 23px;
  text-align: right;
  cursor: pointer;
}
.team-content{
  float: left;
  width: 700px;
  height: auto;
  padding: 30px 30px 70px 30px;
  outline: 1px solid white;
  color: white;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
  background-color: #05868e;
}
.team-content h1{
  color: orange;
  margin-top: 30px;
}
